.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;

    .button {
        background: #9c69e2;
        border-radius: 10px;
        padding: 3px 50px;
        color: white;
    }
}
